<div class="card">
    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="NameProduct"
            formControlName="NameProduct"
            placeholder="Wprowadź nazwę produktu"
          />

          <div class="input-group-append">
            <button class="btn btn-success" type="submit">Dodaj</button>
          </div>
        </div>
      </form>

      <ul class="list-group"*ngFor="let list of ProductList">
        <li class="list-group-item" >
          <div>
            {{ list.NameProduct }}
            <div class="action">
            <button type="button" class="btn btn-danger" (click)="delProd(list.ProductId)"><i class="bi bi-trash"></i></button><br>
            </div>
          </div>
        </li>
      </ul>

    <br><button type="button" class="btn btn-success" routerLink="/userpanel">Wstecz</button><br>
</div>