<div class="card">

  <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <div class="form-group">
          <label for="email">Adres E-mail</label>
          <input type="email" type="text" class="form-control" id="email" formControlName="email">
        </div>

        <div class="form-group">
          <label for="pass">Hasło</label>
          <input type="password" class="form-control" formControlName="pass" id="pass" >
        </div>

        <div class="form-group">
            <label for="repass">Powtórz Hasło</label>
            <input type="password" class="form-control" formControlName="repass" id="repass" >
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Zarejestruj</button>
      </form><br>

      <a href="http://localhost:4200/signin"><p>Jeśli posiadasz już konto, kliknij tutaj.</p></a>
</div>
